---
import Layout from '../layouts/Layout.astro';
import ForgotPasswordForm from '../components/ForgotPasswordForm';
---

<Layout title="Forgot Password - UniPick">
  <div class="min-h-[80vh] flex flex-col justify-center items-center px-4">
    <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-xl border border-gray-100">
      <ForgotPasswordForm client:load />
    </div>
  </div>
</Layout>