---
import Layout from "../layouts/Layout.astro";
import Marketplace from "../components/Marketplace";
---

<Layout title="UniPick - VT 校园二手市场">
  <main class="max-w-7xl mx-auto px-4 pt-6">
    <Marketplace client:only="react" />
  </main>
</Layout>
