---
import Layout from '../layouts/Layout.astro';
import UpdatePasswordForm from '../components/UpdatePasswordForm';
import GuestRedirect from '../components/GuestRedirect';
---

<Layout title="Update Password - UniPick">
  <GuestRedirect client:only="react" redirectTo="/">
    <div class="min-h-[80vh] flex flex-col justify-center items-center px-4">
      <div class="w-full max-w-md bg-white dark:bg-gray-800 p-8 rounded-2xl shadow-xl border border-gray-100 dark:border-gray-700">
        <UpdatePasswordForm client:load />
      </div>
    </div>
  </GuestRedirect>
</Layout>
